/* 正常模式样式 */
.action-item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  /* 添加颜色过渡 */
}

.action-item:hover:not(.disabled) {
  background-color: #f0f0f0;
  /* 鼠标悬停时的背景颜色 */
}

.action-item:focus:not(.disabled) {
  outline: none;
  /* 移除默认的聚焦轮廓 */
  background-color: #e0e0e0;
  /* 聚焦时的背景颜色 */
  box-shadow: 0 0 0 2px #007bff;
  /* 聚焦时的阴影 */
}

.action-item:active:not(.disabled) {
  background-color: #d0d0d0;
  /* 点击时的背景颜色 */
}

.action-item.disabled {
  color: gray;
  /* 禁用状态的文字颜色 */
  background-color: #f9f9f9;
  /* 禁用状态的背景颜色 */
  cursor: not-allowed;
  /* 禁用状态的光标 */
  opacity: 0.6;
  /* 添加透明度以增强禁用效果 */
  pointer-events: none;
  /* 禁用点击事件 */
}

/* 紧凑模式样式 */
.action-item.compact {
  padding: 4px 6px;
  font-size: 0.8em;
  font-family: "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", sans-serif;
}

.action-item.compact svg {
  width: 11px;
  /* 减小图标大小 */
  height: 11px;
}