.list {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--ls-primary-background-color);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 160px;
    height: 220px;
}

.list:hover,
.list:focus {
    outline: 0;
    transform: translateY(-6px);
    box-shadow: 0 4px 19px rgba(0, 0, 0, 0.3);
}

.list:active {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.list-content {
    width: 100%;
    overflow: hidden;
}

.list-title {
    font-size: 16px;
    color: var(--ls-primary-text-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.list-summary {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: var(--ls-secondary-text-color);
    text-align: left;
    white-space: pre-wrap;
    flex-grow: 1;
}

.list-image {
    overflow: hidden;
    padding-top: 7px;
    display: none;
    flex-grow: 1;
}

.list-image img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.list-description {
    font-size: 10px;
    color: var(--ls-secondary-text-color);
    text-align: left;
}

.list-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: var(--ls-primary-text-color);
    margin-right: 10px;
    background-color: var(--ls-secondary-background-color);
    border-radius: 100%;
}

.list-tag {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.list-tag:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.3);
}

.list-actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.list-actions a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.list-actions a:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.list-actions a:focus::after {
    content: attr(title);
    position: absolute;
    background-color: var(--ls-primary-text-color);
    color: var(--ls-primary-background-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .list-actions a:focus::after {
        top: auto;
        bottom: calc(100% + 5px);
    }
}

.card-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: var(--ls-primary-text-color);
    background-color: var(--ls-secondary-background-color);
    border-radius: 100%;
}

.card-description {
    font-size: 12px;
    width: fit-content;
    color: var(--ls-secondary-text-color);
    word-wrap: break-word;
}

.asset-list {
    margin: 20px auto;
    padding: 0;
    background-color: var(--ls-primary-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    list-style: none;
}

.asset-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.asset-item:last-child {
    border-bottom: none;
}

.asset-item:hover,
.asset-item.is-active {
    background-color: var(--ls-secondary-background-color);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.asset-extension {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: var(--ls-primary-text-color);
    margin-right: 10px;
    background-color: var(--ls-secondary-background-color);
    border-radius: 100%;
}

.asset-details {
    flex-grow: 3;
}

.asset-name {
    font-size: 16px;
    color: var(--ls-primary-text-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.asset-meta {
    font-size: 14px;
    color: var(--ls-secondary-text-color);
}

.asset-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.asset-action {
    cursor: pointer;
    color: var(--ls-secondary-text-color);
    font-size: 14px;
}

.asset-action:hover {
    text-decoration: underline;
}